* {
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  justify-content: space-around;
  width: 1250px;
  margin: auto;
}

.content-main {
  display: flex;
  flex-direction: column;
}

.content-main h1 {
  font-size: 60px;
  line-height: 0.9;
  margin-top: 25px;
}

.content-main p {
  color: grey;
  font-size: 20px;
  padding: 50px 0;
}

.content-main button {
  color: #FFF;
  font-size: 18px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 12px 0;
}

.block-images {
  margin-top: 60px;
}

.block-images img {
  padding: 13px;
}

.image {
  width: 380px;
}

.image img {
  max-width: 100%;
}

@media(max-width: 375px) {
  main {
    flex-direction: column-reverse;
  }
}