* {
  margin: 0;
  padding: 0;
}


main {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.content-main {
  display: flex;
  flex-direction: column;
}

.content-main h1 {
  font-size: 60px;
  line-height: 0.9;
  margin-top: 25px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
}

.content-main .p {
  padding: 50px 0;
}

.content-main p {
  color: grey;
  font-size: 20px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
}

.content-main button {
  color: #FFF;
  font-size: 18px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 12px 0;
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
}

.block-images {
  margin-top: 60px;
}

.block-images img {
  padding: 13px;
}

.image {
  width: 380px;
}

.image img {
  max-width: 100%;
}

@media(max-width: 375px) {
  main {
    flex-direction: column-reverse;
  }

  .image {
    width: 300px;
    margin: auto;
  }

  .main-h1 {
    display: flex;
    margin: auto;
  }

  .main-h1 h1 {
    margin: 0;
    font-size: 30px;
    padding: 10px;
  }

  .content-main .p {
    padding: 20px 0;
    display: inline;
    text-align: center;
  }

  .content-main p {
    font-size: 15px;
  }

  .content-main button {
    margin: auto;
    font-size: 15px;
  }

  .block-images {
    margin-top: 20px;
  }

  .block-images img {
    padding: 0 10px;
    width: 73px;
  }
}